<%- include('partials/header.ejs')%>

<main>
    <h2>Edit Item</h2>
    <div id="form-container">
    <form id="sell-form" action="/items/<%= item.id %>?_method=PUT" method="POST" class="new-form" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= item.title %>" required>

        <label for="condition">Condition:</label>
        <select id="condition" name="condition" required>
            <option value="">Select Condition</option>
            <option value="New" <%= item.condition === "New" ? "selected" : "" %>>New (with tag)</option>
            <option value="Like-new" <%= item.condition === "Like-new" ? "selected" : "" %>>Like-New</option>
            <option value="Good" <%= item.condition === "Good" ? "selected" : "" %>>Good</option>
            <option value="Fair" <%= item.condition === "Fair" ? "selected" : "" %>>Fair</option>
            <option value="Used" <%= item.condition === "Used" ? "selected" : "" %>>Used</option>
        </select>        
        <label for="price">Price (USD):</label>
        <input type="number" name="price" value="<%= item.price %>" required>
        <label for="seller">Seller:</label>
        <input type="text" name="seller" value="<%= item.seller %>" required>
        <label for="details">Details:</label>
        <textarea name="details" required><%= item.details %></textarea>
        <label for="image">Image:</label>
        <!-- <input type="file" name="image" value="<%= item.image %>"> -->
        <input type="file" name="image" id="image" value="<%= item.image %>">
        <button type="submit">Update</button>
    </form>
    </div>
</main>

<%- include('partials/footer.ejs') %>
